In [1]:
import math
import collections #High-performance container datatypes

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [2]:
people = [("Michele", "Vallisneri", "July 15"),
          ("Albert", "Einstein", "March 14"),
          ("John", "Lennon", "October 9"),
          ("Jocelyn", "Bell Burnell", "July 15")]

In [3]:
[person for person in people if person [2] == "July 15"]

[('Michele', 'Vallisneri', 'July 15'), ('Jocelyn', 'Bell Burnell', 'July 15')]

## namedtuple

#### `collections.namedtuple(typename, field_names, *, rename=False, defaults=None, module=None)` returns a new tuple subclass named typename

#### Named tuples are basically easy-to-create, lightweight object types. Named tuple instances can be referenced using object-like variable dereferencing or the standard tuple syntax.

#### They can be used similarly to `struct` or other common record types, except that they are immutable.

In [4]:
# defining the namedtuple "person"
persontype = collections.namedtuple('person', ['firstname', 'lastname', "birthday"])

In [5]:
# following parameters order
michele = persontype("Michele", "Vallisneri", "July 15")

In [6]:
# no need to follow order
michele = persontype(lastname="Vallisneri", firstname="Michele", birthday="July 15")

In [7]:
michele

person(firstname='Michele', lastname='Vallisneri', birthday='July 15')

In [8]:
# Can be accessed with standard tuple syntax
michele[0], michele[1], michele[2]

('Michele', 'Vallisneri', 'July 15')

In [9]:
# Can also be accessed with variable dereferencing
michele.firstname, michele.lastname, michele.birthday

('Michele', 'Vallisneri', 'July 15')

In [10]:
# use tuple unpacking on people[0] to build a namedtuple
persontype(*people[0])

person(firstname='Michele', lastname='Vallisneri', birthday='July 15')

In [13]:
# create a list of persontype from people
namedpeople = [persontype(*person) for person in people]
namedpeople

[person(firstname='Michele', lastname='Vallisneri', birthday='July 15'),
 person(firstname='Albert', lastname='Einstein', birthday='March 14'),
 person(firstname='John', lastname='Lennon', birthday='October 9'),
 person(firstname='Jocelyn', lastname='Bell Burnell', birthday='July 15')]

## Data Classes

#### A data class is a class typically containing mainly data, more than containing a lot of logic. 
#### It is created using the new `@dataclass` decorator.
#### You can instantiate, print, and compare data class instances straight out of the box. 
#### namedtuple classes are also data classes, but are immutable by default (as well as being sequences).

In [14]:
from dataclasses import dataclass

In [15]:
@dataclass
class personclass:
    firstname: str
    lastname: str
    birthday: str = 'unknown'

In [21]:
michele = personclass('Michele', 'Vallisneri')
michele

personclass(firstname='Michele', lastname='Vallisneri', birthday='unknown')

In [22]:
michele = personclass(firstname='Michele', lastname='Vallisneri')
michele

personclass(firstname='Michele', lastname='Vallisneri', birthday='unknown')

In [23]:
print(michele)

personclass(firstname='Michele', lastname='Vallisneri', birthday='unknown')

In [24]:
@dataclass
class personclass2:
    firstname: str
    lastname: str
    birthday: str = 'unknown'
        
    def fullname(self):
        return self.firstname + ' ' + self.lastname

In [25]:
michele = personclass2('Michele', 'Vallisneri', 'July 15')
michele.fullname()

'Michele Vallisneri'

## defaultdict

#### dictionaries and defualtdict are almost same except for the fact that defualtdict never raises a KeyError. It provides a default value for the key that does not exists.
#### need to provide a function to defualtdict to return a default value

In [26]:
# Function to return a default 
# value for key that is not present 
def def_value(): 
    return "Not Present"

In [28]:
dd = collections.defaultdict(def_value) 
dd["a"] = 1
dd["b"] = 2

In [29]:
print(dd)

defaultdict(<function def_value at 0x125685d40>, {'a': 1, 'b': 2})

In [30]:
print(dd["c"])

Not Present

In [32]:
print(dd)

defaultdict(<function def_value at 0x125685d40>, {'a': 1, 'b': 2, 'c': 'Not Present'})

In [39]:
# create a dict that maps birthdays to people
birthdays = {}

for person in namedpeople:
    if person.birthday in birthdays:
        birthdays[person.birthday].append(person.firstname)
    else:
        birthdays[person.birthday] = [person.firstname]

In [40]:
print(birthdays)

{'July 15': ['Michele', 'Jocelyn'], 'March 14': ['Albert'], 'October 9': ['John']}

In [41]:
# list() is a function that returns an empty list
list()

[]

In [42]:
# using the defaultdict approach
birthdays = collections.defaultdict(list)

for person in namedpeople:
    birthdays[person.birthday].append(person.firstname)

In [43]:
print(birthdays)

defaultdict(<class 'list'>, {'July 15': ['Michele', 'Jocelyn'], 'March 14': ['Albert'], 'October 9': ['John']})